html
  head
    title= title
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet' )
    link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css', rel='stylesheet', type='text/css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    script(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css', type='text/javascript')
    script(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js', type='text/javascript')
    block content



    
